.display-input {
  min-width: 68%;
  width: auto;
  max-width: 40%;
  height: 40px;
  color: black;
  outline:none;
  border:none;
  text-align: right;
  padding-right: 10px;
  font-size: 20px;
  margin-left: 20px;
}